.navbar {
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: px; */
    border-bottom: 0.01px solid #38393A;
    margin: 0 auto;
}

.navbar h2{
    color: white;
}

.navbar div{
    cursor: pointer;
    color: white;
    padding: 7px;
    border-radius: 5px;
}
@media only screen and (max-width: 600px) {
    .navbar {
      width: 200px;
      margin: 0 auto;
    }
  }